<div class="container mb-3">
    <h1 class="text-center"><img id="doll" src="../../assets/images/gokukicsi.png" alt="goku">Goku Escape Room
    </h1>
    <img class="mb-3" id="cover" src="../../assets/images/blackgoku.jpg" alt="">
    <h2>Üdvözöljük a Goku Szabadulószobájában!</h2>
    <h5 class="mb-3">
        Fedezd fel a Goku Escape Room-ot!
    </h5>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Foglalás</h5>
                    <p class="card-text">Már lefoglalt</p> <a
                        class="btn btn-danger" routerLink="foglalasok">Indulók</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Új foglalás</h5>
                    <p class="card-text">Új foglalás hozzáadása</p>
                    <a class="btn btn-danger" routerLink="ujfoglalas">Indulok</a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="mt-3">Nehézségi szintek</h2>
    <br>
    <h4>
        A Goku Szabadulószobája kínál egyedi kihívásokat minden szinten!
    </h4>
    <br>
    <h3>Beginner</h3>
    <p>Kőnnyű logikai feladatok, viszonylag gyorsan kivihető.</p>
    <h3>Advanced</h3>
    <p>Ha már voltál párszor Escape Room-ba, de azért még nem vagy vér profi, akkor ez a szint neked való.</p>
    <h3>Professional</h3>
    <p>Az elnevezés magának beszél, ha igazán jónak gondolod magad, akkor erre menj.
    </p>
</div>